DEBUG=True
PROJECT_NAME = "fast api simple"
SQLALCHEMY_DATABASE_URL = postgresql://postgres:postgres@db:5432/postgres
BACKEND_CORS_ORIGINS = ["http://localhost", "http://localhost:8000"]

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30

STATIC_DIR="static"
MEDIA_DIR="media"

# aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_S3_DEFAULT_BUCKET=